.inline-block {
    padding: 15px;
    display: inline-block;
    background-color: gray;
  }

.left {
    width: 29%;
    float: left;
    height: 500px;
    background-color:coral;
    text-align: center;
    padding: 15px;
}

.right{
    width: 60%;
    float: left;
    height: 500px;
    background-color: cadetblue;
    padding: 15px;

}

.left-align {
    text-align: left;
}

li {
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 15px;
    padding-right: 15px;
    display: block;
}

.big-image {
    float:left;
    margin-right: 1%;
}
.inline-block-2 {
    padding: 1;
    display: inline-block;
    border-radius: 5px;
    width: 150px;
    margin: 35px;
    margin-top: 20px;
}